BOT_TOKEN=isi_token_bot_kamu_disini
APP_URL=https://namaproject.vercel.app

# Optional: untuk remove.bg API (free: https://www.remove.bg/)
REMOVE_BG_API_KEY=

# Optional: untuk OCR
# Pilih engine: "ocrspace" (default/free) atau "googlevision"
OCR_ENGINE=ocrspace
OCR_API_KEY=
